
$color-light: #ffffff;
$color-dark: #2C272E;

.card-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60px;
    font-size: 18px;
    border-bottom: 1px solid $color-light;
    color:$color-light;
}

.card-main{
    display: flex;
    flex-direction: column;
    height: 180px;
    border-bottom: 1px solid $color-light;
    color:$color-light;
    font-size: 54px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60px;
    border-bottom: 1px solid $color-light;
    color:$color-dark;
}

.card-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90px;
    border-bottom: 1px solid $color-light;
    color:$color-dark;
}

.main-cost {
    padding-top: 40px;
    margin-left: -140px;
    font-size: 16px;
}

.main-month {
    margin-left: 140px;
    font-size: 16px;
}

 #tarif-one .card-header {
    background-color: #3E8E7E;  
}

#tarif-one .card-main {
    background-color: #7CD1B8
}

#tarif-two .card-header {
    background-color: #064635;  
}

#tarif-two .card-main {
    background-color: #519259;
}

#tarif-three .card-header {
    background-color: #A13333;  
}

#tarif-three .card-main {
    background-color: #FF5959;
}

#tarif-four .card-header {
    background-color: #212121;  
}

#tarif-four .card-main {
    background-color: #152D35;
}
.card-text {
    background-color: #F0ECE3;
}

.card-footer {
    background-color: #DFD3C3;
}

.selected {
    padding-top: 5px;
    font-weight: bolder;
}